.expenseList {
    background-color: var(--color-surface);
    padding: 20px;
    width: 480px;
    height: 720px;
}

@media (max-width: 768px) {
    .expenseList {
        width: 100%;
    }
}

.expenseItems {
    list-style-type: none;
    padding: 0;
}

.expenseItem:last-child {
    border-bottom: none;
}

.expenseTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.categoryColumn {
    width: 30%;
}

.amountColumn {
    width: 60%;
}

.checkboxColumn {
    width: 10%;
}

.expenseTable tr {
    margin: 0 8px;
}

.inputContainer input::before {
    content: "₩";
    color: var(--color-disabled-dark);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
